FlipwitchClient.sln
bin/Debug/netstandard2.0/AK.Wwise.Unity.API.dll
bin/Debug/netstandard2.0/AK.Wwise.Unity.API.WwiseTypes.dll
bin/Debug/netstandard2.0/AK.Wwise.Unity.MonoBehaviour.dll
bin/Debug/netstandard2.0/Assembly-CSharp.dll
bin/Debug/netstandard2.0/Cinemachine.dll
bin/Debug/netstandard2.0/clipper_library.dll
bin/Debug/netstandard2.0/com.rlabrecque.steamworks.net.dll
bin/Debug/netstandard2.0/FlipwitchAP.deps.json
bin/Debug/netstandard2.0/FlipwitchAP.dll
bin/Debug/netstandard2.0/FlipwitchAP.pdb
bin/Debug/netstandard2.0/Unity.2D.Animation.Runtime.dll
bin/Debug/netstandard2.0/Unity.Burst.dll
bin/Debug/netstandard2.0/Unity.Burst.Unsafe.dll
bin/Debug/netstandard2.0/Unity.InputSystem.dll
bin/Debug/netstandard2.0/Unity.InternalAPIEngineBridge.001.dll
bin/Debug/netstandard2.0/Unity.Mathematics.dll
bin/Debug/netstandard2.0/Unity.RenderPipeline.Universal.ShaderLibrary.dll
bin/Debug/netstandard2.0/Unity.RenderPipelines.Core.Runtime.dll
bin/Debug/netstandard2.0/Unity.RenderPipelines.Universal.Runtime.dll
bin/Debug/netstandard2.0/Unity.TextMeshPro.dll
bin/Debug/netstandard2.0/Unity.Timeline.dll
bin/Debug/netstandard2.0/UnityEngine.UI.dll
obj/FlipwitchAP.csproj.nuget.dgspec.json
obj/FlipwitchAP.csproj.nuget.g.targets
obj/FlipwitchAP.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
obj/Debug/netstandard2.0/FlipwitchAP.AssemblyInfo.cs
obj/Debug/netstandard2.0/FlipwitchAP.AssemblyInfoInputs.cache
obj/Debug/netstandard2.0/FlipwitchAP.assets.cache
obj/Debug/netstandard2.0/FlipwitchAP.csproj.AssemblyReference.cache
obj/Debug/netstandard2.0/FlipwitchAP.csproj.CopyComplete
obj/Debug/netstandard2.0/FlipwitchAP.csproj.CoreCompileInputs.cache
obj/Debug/netstandard2.0/FlipwitchAP.csproj.FileListAbsolute.txt
obj/Debug/netstandard2.0/FlipwitchAP.dll
obj/Debug/netstandard2.0/FlipwitchAP.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/netstandard2.0/FlipwitchAP.pdb
